python-dotenv
langchain
openai
pyaudio
SpeechRecognition
pinecone-client
sentence-transformers
pinecone-client[grpc]
torch
gTTS
playsound

# New Relic AI observability + (NR Python Agent)
git+https://github.com/newrelic/nr-openai-observability@staging


# macOS-specific requirements
# Uncomment the following line if you're on macOS
PyObjC